<!DOCTYPE html>

<html>
<head>


    <link rel="stylesheet" href="css/supercal.css">

    <% include ../partials/head %>

    <style>

        .td-horario {
            cursor: pointer;
        }

        .td-horario span {
            display: none;
        }

        .td-horario-indisponivel {
            color: #ccc;
            font-style: italic;
            cursor: default;
        }

        .td-horario-indisponivel:hover {
            background: #fff;
        }

        .td-horario-indisponivel span {
            display: inline;
            padding-left: 20px;
        }

		</style>

	</head>

	<body class="container">

	<header>
	    <% include ../partials/header %>
	</header>

	<div align="center">
	    <h1 class="text-center login-title">Agendamento</h1>
	    <br/>
	</div>


	<div class="calendar" style="float:left">Selecione um dia abaixo:<br/><br/></div>

	<div style="float:left; width:5%">&nbsp;</div>

	<div style="position:relative; float:left; width:30%">

	    <div id="horarios-loading" style="float:left; width:100%; display:none; position:absolute;" align="center">

	        <img src="img/loading_64x64.gif"/>

	    </div>

	    <div id="horarios" style="float:left; width:100%; display:none;">

	        <table width="100%" class="table table-hover">
	            <thead>
	            <tr>
	                <td align="center"><b>Horários disponíveis</b><br/><span id="horarios-date"></span></td>
	            </tr>
	            </thead>
	            <tbody>
	            <tr>
	                <td class="td-horario" id="horario-8">08:00 - 09:00<span>Indisponível</span></td>
	            </tr>
	            <tr>
	                <td class="td-horario" id="horario-9">09:00 - 10:00<span>Indisponível</span></td>
	            </tr>
	            <tr>
	                <td class="td-horario" id="horario-10">10:00 - 11:00<span>Indisponível</span></td>
	            </tr>
	            <tr>
	                <td class="td-horario" id="horario-11">11:00 - 12:00<span>Indisponível</span></td>
	            </tr>
	            <tr>
	                <td class="td-horario" id="horario-14">14:00 - 15:00<span>Indisponível</span></td>
	            </tr>
	            <tr>
	                <td class="td-horario" id="horario-15">15:00 - 16:00<span>Indisponível</span></td>
	            </tr>
	            <tr>
	                <td class="td-horario" id="horario-16">16:00 - 17:00<span>Indisponível</span></td>
	            </tr>
	            <tr>
	                <td class="td-horario" id="horario-17">17:00 - 18:00<span>Indisponível</span></td>
	            </tr>
	            </tbody>
	        </table>

	    </div>

	</div>

		<div style="float:left; width:5%">&nbsp;</div>

		<%

		if (user.permissao > 0) {


			%>

			<div id="ordem-div" style="float:left; width:30%; display:none">

	            <div align="center">
	            	<button class="btn btn-lg btn-primary btn-block" id="btn_gerar" onclick="showOSForm()">
	                    Gerar ordem de serviço
	                </button>
	            </div>

			</div>


			<div class="modal fade" id="os-modal">
			  <div class="modal-dialog">
			    <div class="modal-content">
				    <form method="post" id="os-form">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Gerar ordem de serviço</h4>
				      </div>
				      <div class="modal-body">
				      	<div id="os-loading" style="display:none; width:100%" align="center">
				      		<img src="img/loading_64x64.gif">
				      	</div>
				      	<div id="os-div">
			                <!--<form class="form-signin" method="post" action="/signUp">-->
			                	<input type="hidden" name="automovel" id="os-automovel">
			                	<input type="hidden" name="modelo_id" id="os-modelo_id">
			                	<input type="hidden" name="pecas" id="os-pecas">
			                	<input type="hidden" name="pecas-qtd" id="os-pecas-qtd">
			                	<select name="modelo" class="form-control" id="os-tipo" placeholder="tipo" required onchange="showRevisoes()">
			                		<option value="">Tipo de OS</option>
			                    	<option value="revisao">Revisão periódica</option>
			                    	<option value="outro">Outro</option>
			                    </select><div id="revisoes-loading" style="display:none"><img src="img/loading_16x16.gif"></div>
			                    <br>
			                	<select name="revisao" class="form-control" id="os-revisoes" placeholder="revisao" style="display:none">
			                		<option value="">Selecione revisão</option>
			                    </select>
			                	<br>
			                    <select name="modelo" class="form-control" id="os-especialidade"  placeholder="Especialidade" required>
			                    	<option value="">Especialidade</option>
			                    </select><div id="especialidade-loading" style="display:none"><img src="img/loading_16x16.gif"></div>
			                    <br>
			                    <table cellspacing='0' cellpadding='0' border='0' width='100%'>
			                    	<tr>
			                    		<td width="50%" valign="top">
											<label>Serviços:</label>
											<div id="servicos-loading" style="display:none"><img src="img/loading_16x16.gif"></div>
											<br>
											<div id="os-servicos"></div>
						                    <br>
			                			</td>
			                			<td width="50%">
					                        <label>Peça:</label>
					                        <select id="pecas-list" class="form-control">
					                        	<option value="">Seleciona a peça</option>
					                        </select>
					                        <br>
					                        <label>Quantidade</label>
					                        <input type="number" id="pecas-qtd" class="form-control">
					                        <br>
					                        <button type="button" class="btn btn-primary" onclick="adicionarPeca()">Adicionar</button>
						                    <br><br>
						                    <table class="table" id="pecasTable" style="display:none">
						                        <thead>
						                            <th>Peça</th>
						                            <th>Quantidade</th>
						                            <th></th>
						                        </thead>
						                    </table>
			                			</td>
			                		</tr>
			                	</table>
			               
		            	</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="submit" class="btn btn-primary">Save changes</button>
				      </div>
			        </form>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<%


		} else {

			%>

			<div id="cadastro-div" style="float:left; width:30%; display:none">

			    <div class="autocard-no-padding-top">
			        <form class="form-signin" method="post" id="cadastro-form">
			            <h3>Dados do Agendamento:</h3>

			            <b><span>Data:</span></b>
			            <span id="cadastro-data"></span>

			            <br>

			            <b><span>Horário:<span></b>
			            <span id="cadastro-hora"></span>


			            <h3>Dados do veículo:</h3>


			            <!--<form class="form-signin" method="post" action="/signUp">-->
			            <input type="hidden" name="horario" id="form-horario">
			            <label for="placa">Placa:</label>
			            <input type="text" class="form-control" placeholder="Placa do carro" name="placa" required autofocus>
			            <!--<input type="password" class="form-control" placeholder="Telefone" name="telefone" required>-->
			            <br>
			            <label for="renavan">Renavan:</label>
			            <input type="text" class="form-control" placeholder="Renavan" name="renavan" required>
			            <br>
			            <label for="modelo">Modelo:</label>
			            <select name="modelo" class="form-control" id="cadastro-modelos" placeholder="Modelo" required>
			                <option value="">Modelo do carro</option>
			            </select> <div id="modelos-loading" style="display:none"><img src="img/loading_16x16.gif"></div>
			            <br>
			            <label for="ano">Ano:</label>
			            <input type="number" class="form-control" placeholder="Ano" name="ano" required>
			            <br>
			            <label for="quilometragem">Quilometragem:</label>
			            <input type="text" class="form-control" placeholder="Quilometragem" name="quilometragem" required>
			            <br>
			            <button class="btn btn-lg btn-primary btn-block" type="submit">
			                Marcar atendimento
			            </button>
			        </form>
			        <% if (locals.erro) { %>
			        <div><%= locals.erro %></div>
			        <% } %>
			    </div>

			</div>

			<%

		}

		%>


		<script src="libs/supercal/jquery.supercal.js"></script>

		<%

		if (user.permissao > 0) {


			%>

			<script>

				var especialidades = null;
				var servicos = null;
				var pecas = null;

				var dias = ["Domingo","Segunda-feira","Terça-feira","Quarta-feira","Quinta-feira","Sexta-feira","Sábado"];
				var meses = ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"];
				var animTime = 50;

				var currentDate;

				$('.calendar').supercal({
					transition: 'carousel-horizontal',
					clickCallback : function(date) {
						var dateLast = date;
						dateLast.setHours(17,0,0,0); // Última hora disponível 17:00
						if (dateLast.getTime() < (new Date()).getTime()) {
							alert("A data escolhida ja passou!");
						} else {
							currentDate = date;
							var dt = date.getFullYear().toString()+"-"+(date.getMonth()+1)+"-"+date.getDate();
							var formatedDate = dias[date.getDay()]+", "+date.getDate()+" de "+meses[date.getMonth()]+" de "+date.getFullYear().toString();
							$.ajax({
								type: "GET",
								url:"api/horarios-de-atendimento",
								data: {date:dt},
								beforeSend: function() {
									$("#horarios-loading").fadeIn(animTime);
									$("#horarios").fadeOut(animTime);
									$("#ordem-div").fadeOut(animTime);
								},
								success: function(data) {
									$('.td-horario').addClass('td-horario-indisponivel');
									$('.td-horario').removeAttr('automovel');
									$.each(data, function(index, value) {
										var d = new Date(Date.parse(value.horario));
										if ($('#horario-'+d.getHours())) {
											$('#horario-'+d.getHours()).removeClass('td-horario-indisponivel');
											$('#horario-'+d.getHours()).attr('automovel',value.automovel_id);
										}
									});
									$("#horarios-date").html(formatedDate);
									$("#horarios").fadeIn(animTime);
									$("#horarios-loading").fadeOut(animTime);
								},
								error: function(err) {
									alert(err);
								}
							});
						}
					}
				});

				$('.td-horario').click( function() {
					if (!$(this).hasClass('td-horario-indisponivel')) {
						$("#ordem-div").fadeIn(animTime);

						$("#os-automovel").val($(this).attr("automovel"));

						if (especialidades == null) getEspecialidades();
						else fillEspecialidades();

						if (servicos == null) getServicos();
						else fillServicos();

						if (pecas == null) getPecas();
						else fillPecas();

						getAutomovel();
					}
				});

				function getEspecialidades() {

					$.ajax({
						type: "GET",
						url:"api/especialidades",
						beforeSend: function() {
							$("#especialidades-loading").fadeIn(animTime);
						},
						success: function(data) {
							equipes = data;
							fillEspecialidade();
							$("#especialidades-loading").fadeOut(animTime);
						},
						error: function(err) {
							alert(err);
						}
					});

				}

				function getServicos() {

					$.ajax({
						type: "GET",
						url:"api/servicos",
						beforeSend: function() {
							$("#servicos-loading").fadeIn(animTime);
						},
						success: function(data) {
							servicos = data;
							fillServicos();
							$("#servicos-loading").fadeOut(animTime);
						},
						error: function(err) {
							alert(err);
						},
					});

				}

				function getPecas() {

					$.ajax({
						type: "GET",
						url:"api/pecas",
						beforeSend: function() {
							$("#pecas-loading").fadeIn(animTime);
						},
						success: function(data) {
							pecas = data;
							fillPecas();
							$("#pecas-loading").fadeOut(animTime);
						},
						error: function(err) {
							alert(err);
						},
					});

				}


				function fillEspecialidade() {

					$("#os-especialidade").html("<option value=''>Especialidade</option>");

					$.each(equipes, function(index, value) {
						opt = $("<option></option>");
						opt.val(value.id);
						opt.html(value.nome);
						$("#os-especialidade").append(opt);
					});

				}

				function fillServicos() {

					$("#os-servicos").html("");

					$.each(servicos, function(index, value) {
						opt = $("<input type='checkbox' name='servicos'></input>");
						opt.val(value.id);
						$("#os-servicos").append(opt);
						$("#os-servicos").append(" "+value.nome+"<br />");
					});

				}

				function fillPecas() {

					$("#pecas-list").html("<option value=''>Seleciona a peça</option>");

					$.each(pecas, function(index, value) {
						opt = $("<option></option>");
						opt.val(value.id);
						opt.html(value.nome);
						$("#pecas-list").append(opt);
					});

				}

				function getAutomovel() {

					var automovel = $("#os-automovel").val();

					$.ajax({
						type: "GET",
						url:"api/automovel/buscar",
						data: {id:automovel},
						beforeSend: function() {
							$("#os-form").hide();
							$("#os-loading").fadeIn(animTime);
						},
						success: function(data) {
							$("#os-loading").fadeOut(animTime);
							$("#os-form").fadeIn(animTime);
							$("#os-modelo_id").val(data[0].modelo_id);
						},
						error: function(err) {
							alert(err);
						}
					});

				}

				function showOSForm() {

					resetOSForm();
					$("#os-modal").modal();

				}

				function showRevisoes() {

					if ($("#os-tipo").val() == "revisao") {

						modelo = $("#os-modelo_id").val();

						$.ajax({
							type: "GET",
							url:"api/revisoes",
							data: {modelo_id:modelo},
							beforeSend: function() {
								$("#revisoes-loading").fadeIn(animTime);
							},
							success: function(data) {
								console.log(data);
								$("#os-revisoes").show(animTime);
								$("#os-revisoes").attr("required","true");
								$("#revisoes-loading").fadeOut(animTime);
								$("#os-revisoes").html("<option value=''>Selecione revisão</option>");
								$.each(data, function(index, value) {
									opt = $("<option></option>");
									opt.val(value.id);
									opt.append(value.marca + " " + value.modelo + " - " + value.quilometragem + "km");
									$("#os-revisoes").append(opt);
								});
							},
							error: function(err) {
								alert(err);
							}
						});

					} else {

						$("#os-revisoes").hide(animTime);
						$("#os-revisoes").removeAttr("required");

					}

				}

				function adicionarPeca() {
					
					var id = $("#pecas-list").val();
					var nome = $("#pecas-list option:selected").text();
					var qtd = Number.parseInt($("#pecas-qtd").val());

        			if (!qtd || qtd < 1) {
            			alert('Coloque uma quantidade maior que 1');
            			return;
            		}

					var pecas;
        			try {
        				pecas = JSON.parse($("#os-pecas").val());
        			} catch (err) {
        				pecas = []; 
        			}

        			for (i = 0; i < pecas.length; i++) {
        				if (pecas[i].id == id) {
        					alert('Peça já adicionada');
        					return;
        				}
        			}

        			$('#pecasTable').append('<tr class="pecaTr"><td>'+nome+'</td><td>'+qtd+'</td><td><span class="excluirPeca" style="cursor: pointer;" pecaId="'+id+'">Excluir</span></td></tr>');
        			$('#pecasTable').show();

        			var pecas;
        			try {
        				pecas = JSON.parse($("#os-pecas").val());
        			} catch (err) {
        				pecas = []; 
        			}

        			pecas.push({id:id, nome:nome, qtd:qtd});

        			$("#os-pecas").val(JSON.stringify(pecas));


				}

				$(document).on('click', '.excluirPeca', function(evt) {

					var id = $(evt.target).attr("pecaId");
        			var pecas;

        			try {
        				pecas = JSON.parse($("#os-pecas").val());
        			} catch (err) {
        				pecas = []; 
        			}
        			for (i = 0; i < pecas.length; i++) {
        				if (pecas[i].id == id) {
        					pecas.splice(i, 1);
        				}
        			}

        			$("#os-pecas").val(JSON.stringify(pecas));
					$(evt.target).closest('tr').remove();

					if (pecas.length == 0) {
						$("#pecasTable").hide();
					}

				});

				function resetOSForm() {

					$("#os-revisoes").hide(animTime);
					$("#os-revisoes").removeAttr("required");
					$(".pecaTr").remove();
					$("#pecasTable").hide();
					$("#os-form")[0].reset();

				}


			</script>

			<%

		} else {

			%>

			<script>

				var dias = ["Domingo","Segunda-feira","Terça-feira","Quarta-feira","Quinta-feira","Sexta-feira","Sábado"];
				var meses = ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"];
				var animTime = 50;

				var modelos = null;

				var currentDate;

				$('.calendar').supercal({
					transition: 'carousel-horizontal',
					clickCallback : function(date) {
						var dateLast = date;
						dateLast.setHours(17,0,0,0); // Última hora disponível 17:00
						if (dateLast.getTime() < (new Date()).getTime()) {
							alert("A data escolhida ja passou!");
						} else {
							currentDate = date;
							var dt = date.getFullYear().toString()+"-"+(date.getMonth()+1)+"-"+date.getDate();
							var formatedDate = dias[date.getDay()]+", "+date.getDate()+" de "+meses[date.getMonth()]+" de "+date.getFullYear().toString();
							$.ajax({
								type: "GET",
								url:"api/horarios-de-atendimento",
								data: {date:dt},
								beforeSend: function() {
									$("#horarios-loading").fadeIn(animTime);
									$("#horarios").fadeOut(animTime);
									$("#cadastro-div").fadeOut(animTime);
								},
								success: function(data) {
									$('.td-horario').removeClass('td-horario-indisponivel');
									$.each(data, function(index, value) {
										var d = new Date(Date.parse(value.horario));
										if ($('#horario-'+d.getHours())) {
											$('#horario-'+d.getHours()).addClass('td-horario-indisponivel');
										}
									});
									$("#horarios-date").html(formatedDate);
									$("#horarios").fadeIn(animTime);
									$("#horarios-loading").fadeOut(animTime);
								},
								error: function(err) {
									alert(err);
								},
							});
						}
					}
				});
				$('.td-horario').click( function() {
					if (!$(this).hasClass('td-horario-indisponivel')) {
						hor = $(this).attr('id').split("horario-")[1];
						var hourDate = new Date(currentDate);
						hourDate.setHours(hor,0,0,0);
						if (hourDate.getTime() > (new Date()).getTime()) {
							formatedDate = currentDate.getDate()+"/"+(currentDate.getMonth()+1)+"/"+currentDate.getFullYear().toString();
							var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
							var localISOTime = (new Date(hourDate - tzoffset)).toISOString().slice(0,-1);
							console.log(localISOTime);
							if (modelos == null) getModelos();
							else fillModelos();
							$("#form-horario").val(localISOTime);
							$("#cadastro-data").html(formatedDate);
							$("#cadastro-hora").html(hor+":00");
							$("#cadastro-div").fadeIn(animTime);
						} else {
							alert("O horário escolhido já passou!");
						}
					}
				});


				function getModelos() {

					$.ajax({
						type: "GET",
						url:"api/modelos-carros",
						beforeSend: function() {
							$("#modelos-loading").fadeIn(animTime);
						},
						success: function(data) {
							modelos = data;
							fillModelos();
							$("#modelos-loading").fadeOut(animTime);
						},
						error: function(err) {
							alert(err);
						},
					});

				}

				function fillModelos() {

					$("#cadastro-modelos").html("<option value=''>Modelo do carro</option>");

					$.each(modelos, function(index, value) {
						opt = $("<option></option>");
						opt.val(value.id);
						opt.append(value.marca + " " + value.modelo)
						$("#cadastro-modelos").append(opt);
					});

				}


			</script>

			<%

		}

		%>

	</body>
</html>