<!DOCTYPE html>

<html>
	<head>

		<title>SuperCal 0.1 Example</title>

		<link rel="stylesheet" href="css/supercal.css">

		<% include ../partials/head %>

		<style>

			.td-horario {
				cursor:pointer;
			}

			.td-horario-indisponivel {
				color: #ccc;
				font-variant: italic;
				cursor:default;
			}

			.td-horario-indisponivel:hover {
				background: #fff;
			}

		</style>

	</head>

	<body>
		<h1>SuperCal Examples</h1>

		<h2>Basic example</h2>

		<p>Simple calendar widget with default options</p>

		<div class="calendar" style="float:left"></div>

		<div style="float:left; width:10%">&nbsp;</div>

		<div style="float:left; width:30%">

			<table width="100%" class="table table-hover">
				<thead>
					<tr>
						<td align="center"><b>Horários disponíveis</b></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td-horario td-horario-indisponivel" id="horario-8">08:00 - 09:00</td>
					</tr>
					<tr>
						<td class="td-horario" id="horario-9">09:00 - 10:00</td>
					</tr>
					<tr>
						<td class="td-horario" id="horario-10">10:00 - 11:00</td>
					</tr>
					<tr>
						<td class="td-horario" id="horario-11">11:00 - 12:00</td>
					</tr>
					<tr>
						<td class="td-horario" id="horario-14">14:00 - 15:00</td>
					</tr>
					<tr>
						<td class="td-horario" id="horario-15">15:00 - 16:00</td>
					</tr>
					<tr>
						<td class="td-horario" id="horario-16">16:00 - 17:00</td>
					</tr>
					<tr>
						<td class="td-horario" id="horario-17">17:00 - 18:00</td>
					</tr>
				</tbody>
			</table>

		</div>

		<script src="libs/supercal/jquery.supercal.js"></script>

		<script>
			$('.calendar').supercal({
				transition: 'carousel-horizontal',
				clickCallback : function(date) {
					var dt = date.getFullYear().toString()+"-"+date.getMonth()+"-"+date.getDate();
					alert(dt);
					$.ajax({
						type: "POST",
						url:"api/horarios-de-atendimento",
						data: {date:dt},
						success: function(data) {
							alert(data);
						}
					});
				}
			});
			$('.td-horario').click( function() {
				
			});



		</script>
	</body>
</html>