<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<main>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="autocard">
                <h1 class="text-center login-title">Preencha os campos abaixo:</h1>
                <form class="form-signin" method="post" action="/cadastro">
                <!--<form class="form-signin" method="post" action="/signUp">-->
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome" name="nome" required autofocus>
                    <!--<input type="password" class="form-control" placeholder="Telefone" name="telefone" required>-->
                    <br>
                    <label for="email">E-mail:</label>
                    <input type="text" class="form-control" placeholder="E-mail" name="email" required>
                    <br>
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control" placeholder="Senha" name="senha" required>
                    <br>
                    <label for="telefone">Telefone:</label>
                    <input type="text" class="form-control" placeholder="Telefone" name="telefone" required>
                    <br>
                    <label for="endereco">Endereço:</label>
                    <input type="text" class="form-control" placeholder="Endereço" name="endereco" required>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Cadastrar
                    </button>
                </form>
                <%if (locals.erro) { %>
                    <div><%=locals.erro %></div>
                <%}%>
            </div>
        </div>
    </div>
</main>
</body>
</html>