<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
  <h1></h1>
  <!-- equipe_id: 2,
  automovel_id: 2,
  data_emissao: Tue Jul 14 2015 11:00:00 GMT-0300 (BRT),
  data_conclusao: null,
  horario: Tue Jul 28 2015 08:00:00 GMT-0300 (BRT),
  preco: 2000,
  tipo: 0,
  revisao_id: null,
  status: 0,
  nome: null,
  especialidade: null,
  id_func1: 5,
  id_func2: 6,
  email: null,
  senha: null,
  telefone: null,
  endereco: null,
  permissao: null,
  cliente_id: 0,
  placa: 'MBM 1234',
  renavan: '213123123',
  modelo_id: 1,
  ano: 2011,
  quilometragem: 10000,
  marca: 'Fiat',
  modelo: 'Punto' -->
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>