<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <h1>testo teste</h1>
    <main>

        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <h5>Users</h5>
            <ul>
                <% users.forEach(function(user) { %>
                    <li><%= user.name %> - <%= user.age %></li>
                <% }); %>
            </ul>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>