<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<!--<header>-->
    <!--<% include ../partials/header %>-->
<!--</header>-->
<main>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">


            <div class="account-wall">
                <h1 class="text-center login-title">Bem-Vindo ao AutoCar</h1>
                <form class="form-signin" method="post" action="/login">
                    <input type="text" class="form-control" placeholder="E-mail" name="email" required autofocus>
                    <br>
                    <input type="password" class="form-control" placeholder="Senha" name="senha" required>
                    <br>
                    <div class="alert alert-danger" role="alert" style="display:<%= (typeof errorMsg !== 'undefined' && errorMsg) ? "block" : "none" %>">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                      <%= (typeof errorMsg !== 'undefined' && errorMsg) ? errorMsg : "" %>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Entrar
                    </button>
                    <a href="/cadastro" class="text-center new-account">Crie sua conta </a>
                </form>
            </div>
        </div>
    </div>
</main>
<!--<footer>-->
    <% include ../partials/footer %>
<!--</footer>-->
</body>
</html>