<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="autoCard">
                <h1 class="text-center login-title">Bem-vindo ao POC de relatórios estatísticos!</h1>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="graph-container">
            <h2 class="text-center">Gráfico de Barras</h2>
            <figure style="width: 450px; height: 300px; margin:0 auto 0 auto" id="myChart"></figure>
            <h2 class="text-center">Gráfico de Linhas</h2>
            <figure style="width: 450px; height: 300px; margin:0 auto 0 auto" id="graficoLinhas"></figure>
            <h2 class="text-center">Gráfico de Linhas com Pontos de Atenção</h2>
            <figure style="width: 450px; height: 300px; margin:0 auto 0 auto" id="linhasPontos"></figure>
        </div>
    </div>

</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
<script>
    var data = {
        "xScale": "ordinal",
        "yScale": "linear",
        "main": [
            {
                "className": ".pizza",
                "data": [
                    {
                        "x": "Pepperoni",
                        "y": 4
                    },
                    {
                        "x": "Cheese",
                        "y": 8
                    }
                ]
            }
        ]
    };
    var data2 = {
        "xScale": "time",
        "yScale": "linear",
        "type": "line",
        "main": [
            {
                "className": ".pizza",
                "data": [
                    {
                        "x": "2012-11-05",
                        "y": 1
                    },
                    {
                        "x": "2012-11-06",
                        "y": 6
                    },
                    {
                        "x": "2012-11-07",
                        "y": 13
                    },
                    {
                        "x": "2012-11-08",
                        "y": -3
                    },
                    {
                        "x": "2012-11-09",
                        "y": -4
                    },
                    {
                        "x": "2012-11-10",
                        "y": 9
                    },
                    {
                        "x": "2012-11-11",
                        "y": 6
                    }
                ]
            }
        ]
    };
    var opts = {
        "dataFormatX": function (x) {
            return d3.time.format('%Y-%m-%d').parse(x);
        },
        "tickFormatX": function (x) {
            return d3.time.format('%A')(x);
        }
    };
    var tt = document.createElement('div'),
            leftOffset = -(~~$('html').css('padding-left').replace('px', '') + ~~$('body').css('margin-left').replace('px', '')),
            topOffset = -32;
    tt.className = 'ex-tooltip';
    document.body.appendChild(tt);

    var data3 = {
        "xScale": "time",
        "yScale": "linear",
        "main": [
            {
                "className": ".pizza",
                "data": [
                    {
                        "x": "2012-11-05",
                        "y": 6
                    },
                    {
                        "x": "2012-11-06",
                        "y": 6
                    },
                    {
                        "x": "2012-11-07",
                        "y": 8
                    },
                    {
                        "x": "2012-11-08",
                        "y": 3
                    },
                    {
                        "x": "2012-11-09",
                        "y": 4
                    },
                    {
                        "x": "2012-11-10",
                        "y": 9
                    },
                    {
                        "x": "2012-11-11",
                        "y": 6
                    }
                ]
            }
        ]
    };
    var opts2 = {
        "dataFormatX": function (x) { return d3.time.format('%Y-%m-%d').parse(x); },
        "tickFormatX": function (x) { return d3.time.format('%A')(x); },
        "mouseover": function (d, i) {
            var pos = $(this).offset();
            $(tt).text(d3.time.format('%A')(d.x) + ': ' + d.y)
                    .css({top: topOffset + pos.top, left: pos.left + leftOffset})
                    .show();
        },
        "mouseout": function (x) {
            $(tt).hide();
        }
    };

    var myChart = new xChart('line', data2, '#graficoLinhas', opts);
    var myChart = new xChart('bar', data, '#myChart');
    var myChart = new xChart('line-dotted', data3, '#linhasPontos', opts2);
</script>
