<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <h1 class="text-center login-title">Bem-vindo a tela5!</h1>
            </div>
        </div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>