<meta charset="UTF-8">
<title>Sistema Autocar</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style type="text/css" src="/css/styles.css"></style>