<nav id="header" class="bg-blue">
    <a class="logo" href="/">
        AutoCar
    </a>
    <form class="pull-right" action="/logout" method="post">
        <button class="btn btn-primary logout" type="submit">Logout</button>
    </form>
    <ul class="pull-right">
        <li><a href="/tela1">Tela1</a></li>
        <li><a href="/tela2">Tela2</a></li>
        <li><a href="/tela3">Tela3</a></li>
        <li><a href="/tela4">Tela4</a></li>
        <li><a href="/tela5">Tela5</a></li>
        <li><a href="/tela6">Tela6</a></li>
        <li><a href="/tela7">Tela7</a></li>
    </ul>
</nav>