<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">Tela1</a></li>
            <li><a href="/">Tela2</a></li>
            <li><a href="/">Tela3</a></li>
            <li><a href="/">Tela4</a></li>
            <li><a href="/">Tela5</a></li>
            <li><a href="/">Tela6</a></li>
            <li><a href="/">Tela7</a></li>
        </ul>
        <form class="pull-right" action="/logout" method="post">
            <button class="btn btn-primary logout" type="submit">Logout</button>
        </form>
    </div>
</nav>