<meta charset="UTF-8">
<title>Sistema Autocar</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="libs/bootstrap-3.3.5-dist/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="libs/font-awesome-4.3.0/css/font-awesome.min.css">
<script src="../../libs/jquery-2.1.4/jquery-2.1.4.min.js"></script>
<!--<script src="../../libs/js/bootstrap.min.js"></script>-->