<nav id="header" class="bg-blue">
    <a class="logo" href="/">
        AutoCar
    </a>
    <form class="pull-right" action="/logout" method="post">
        <button class="btn btn-primary logout" type="submit">Logout</button>
    </form>
    <ul class="pull-right">
        <li><a href="/agendamento">Agendamento</a></li>
        <% if (user.permissao > 0) { %>
            <li><a href="/os">Ordem de Serviço</a></li>
            <% if (user.permissao < 4) { %>
                <li><a href="/detalheFuncionario?id=<%= user.id %>">Perfil</a></li>
            <% } %>
            <% if (user.permissao == 4) { %>
                <li><a href="/listarFuncionarios">Funcionarios</a></li>
                <li><a href="/listarPecas">Peças</a></li>
            <% } %>
        <% } %>
    </ul>
</nav>
<script>
    $(function () {
        var url = window.location.pathname,
                urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");
        $('a').each(function () {
            if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
                $(this).addClass('active');
            }
        });
    });
</script>